<% include partials/header.ejs %>


    <div class="title">
        <h3>
            <%= offers.title %>
        </h3>
    </div>
    <img src="/uploads/<%= offers.picture %>"  width="400" />
    <p><%= offers.title %>"</p>
    </div>
    <div class="pseudo" ><%= offers.pseudo %></div>
    <div class="price">Prix <%= offers.price %> € </Euros></div>
    <div class="city">Ville <%= offers.location %></div>
    <div class="description">Description</div>
        <a><%= offers.description %> </a>
    



    <% include partials/footer.ejs %>