<% include partials/header.ejs %>


    <div class="title">
        <h3>
            <%= this.offer.title %>
        </h3>
    </div>
    <img src="/uploads/<%= this.offer.picture %>"  width="400" />
    <p><%= offer.title %>"</p>
    </div>
    <div class="pseudo" ><%= this.offer.pseudo %></div>
    <div class="price">Prix <%= this.offer.price %> € </Euros></div>
    <div class="city">Ville <%= this.offer.location %></div>
    <div class="description">Description</div>
        <a><%= this.offer.description %> </a>
    



    <% include partials/footer.ejs %>